.App.main {
  background: grey;
}

.App-logo {
  height: 175px;
  width: 460px;
}

.App-link {
  color: #61dafb;
}

.App-buttonNext {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 10px;
  background: white;
  color: black;
}
